@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark,
  .dark:root {
    --background: #212121;
    --foreground: #fafafa;
    --primary: #ffcc00;
    --primary-foreground: #000000;
    --secondary: #2e8b00;
    --secondary-foreground: #ffffff;
    --card: #292929;
    --card-foreground: #fafafa;
    --border: #333333;
  }
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
    --primary: #ffcc00;
    --primary-foreground: #000000;
    --secondary: #2e8b00;
    --secondary-foreground: #ffffff;
    --card: #ffffff;
    --card-foreground: #000000;
    --border: #000000;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
@keyframes marquee-right {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  .animate-marquee-right {
    animation: marquee-right 32s linear infinite;
  }
